

ul {list-style:none; }


/**
 * 	panel
 */
#menu-social {margin:0px; padding:0px}
#menu-social li {float:left; width:33.33%;position:relative; text-align:center; }
#menu-social li img {width:50%; }






/**
 * 	main page
 */

/** cateogry*/
#page-main .category .ui-bar {text-align:center; padding:0px; position:relative; }
#page-main .category .ui-bar a {margin:0px; }
#page-main .category .ui-bar img {width:50%; margin:0 auto;}
#page-main .category .ui-bar p {font-weight:bold;}

/** slider */
#page-main #slider  {margin-bottom:50px; }
#page-main #slider li {text-align:center;}
#page-main #slider li img {width:100%; max-height:500px;  }
#page-main #slider .flex-control-nav {bottom:auto; position:relative;  }
#page-main #slider .flex-direction-nav a {top:40%; }
#page-main #slider .flex-caption {position:absolute; width:100%; bottom:3px; margin:0px; padding-bottom:10px; background:rgba(0,0,0,0.7); text-shadow:auto; color:#ffffff; font-size:90%; }
#page-main #slider .socialRank img {width:20px; }





/**
 * 	page-what's hot now
 */
#page-map .ui-panel-wrapper {height:100%; }
#page-map .ui-content {width:100%; height: 100%; padding:0px !important; }
#map {width:100%; height:100%; }





/**
 * 	responsive
 */
@media (min-width:992px){
	/**
	 * 	slider
	 */
	.ui-content  {width:1024px; margin:0 auto; }

}
