@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(font/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(font/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(font/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}



ul {list-style:none; }


/**
 * 	panel
 */
#menu-social {margin:0px; padding:0px}
#menu-social li {float:left; width:33.33%;position:relative; text-align:center; }
#menu-social li img {width:50%; }






/**
 * 	main page
 */

/** cateogry*/
#page-main .category .ui-bar {text-align:center; padding:0px; position:relative; }
#page-main .category .ui-bar a {margin:0px; }
#page-main .category .ui-bar img {width:50%; margin:0 auto;}
#page-main .category .ui-bar p {font-weight:bold;}

/** slider */
#page-main #slider  {margin-bottom:50px; }
#page-main #slider li {text-align:center;}
#page-main #slider li img {width:100%; max-height:500px;  }
#page-main #slider .flex-control-nav {bottom:auto; position:relative;  }
#page-main #slider .flex-direction-nav a {top:40%; }
#page-main #slider .flex-caption {position:absolute; width:100%; bottom:3px; margin:0px; padding-bottom:10px; background:rgba(0,0,0,0.7); text-shadow:auto; color:#ffffff; font-size:90%; }
#page-main #slider .socialRank img {width:20px; }





/**
 * 	page-what's hot now
 */
#page-map .ui-panel-wrapper {height:100%; }
#page-map .ui-content {width:100%; height: 100%; padding:0px !important; }
#map {width:100%;height:100%;  }
/**
 * gallery
 */
.leaflet-control-mapGallery {}
.leaflet-control-mapGallery ul {list-style:none;padding:0px; margin:0px;}
.leaflet-control-mapGallery ul li {padding:4px; margin:10px 0px 10px 0px;  text-align:center; box-shadow: 0 1px 7px #999; background: #f8f8f9;-moz-border-radius: 8px; -webkit-border-radius: 8px;border-radius: 8px;}
.leaflet-control-mapGallery ul li:hover {background-color:#eeeeee; cursor:pointer;}
.leaflet-control-mapGallery ul li img {height:28px;}
/** 
 * toc thumbnail
 */
.leaflet-control-tocThumbnail {position:relative}
.leaflet-control-tocThumbnail #basemapWidget {display:none; position:absolute; top:0px; right:0px; margin-right:40px; width:300px; }
.leaflet-control-tocThumbnail #basemapWidget ul {list-style:none;padding:0px; margin:0 auto;width:99.9%; height:100%; }
.leaflet-control-tocThumbnail #basemapWidget ul li {text-align:center; width:33%; padding-top:5px; margin:5px 0px 5px 0px; float:left; height:86px;}
.leaflet-control-tocThumbnail #basemapWidget ul li:hover {background-color:#f7f7f7; cursor:pointer;}
.leaflet-control-tocThumbnail #basemapWidget ul li img {width:80px; height:60px; border:1px solid #ffffff;  box-shadow: 0 1px 7px #999; -moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;}
.leaflet-control-tocThumbnail #basemapWidget ul li p {font-size:11px; color:#333333; margin:0px; }
/**
 * 	tweetContent
 */
#map #tweetContent {position:absolute; background:rgba(0,0,0,0.7); top:0px; left:0px; width:18%; height:98%; overflow-y:auto; padding:1%;  z-index:100; border-radius:5px; display:none; }






/**
 * 	page searchResult
 */
#page-searchResult #searchResult .ui-li-aside img {width:25px; height:25px;  }
#page-searchResult #searchResult .tagContent {position:absolute; right:15%; top:3px; }
#page-searchResult #searchResult .tag {margin-right:5px; float:right; font-size:80%; padding:0.5em; border-radius:5px; background-color:#ffffff; border:1px solid #cccccc; }




/**
 * 	page eventdetail
 */
#page-eventDetail #detail_meta  {display:inline-block;}

#page-eventDetail #detail_meta .event-image {width:98%; padding:1%; }
#page-eventDetail #detail_meta .event-image img {width:100%; margin-top:30px;  }
#page-eventDetail #detail_meta .event-info {width:98%; padding:1%; }
#page-eventDetail #detail_meta .event-info ul { }
#page-eventDetail #detail_meta .event-info li {padding:0.5em 0px 0.5em 0px; }
#page-eventDetail .detail-title {font-size:200%; font-weight:bold;}
#page-eventDetail .detail-time {font-size:120%; font-weight:bold;}
#page-eventDetail .detail-location {} 
#page-eventDetail .detail-location label {color:#888888;}
#page-eventDetail .detail-description {}

#page-eventDetail #detail_mediaWall {width:100%;display:inline-block; margin-top:100px;  }
#page-eventDetail #detail_mediaWall .item {text-align:center; }
#page-eventDetail #detail_mediaWall .item > * {width:98%; height:98%; margin:0 auto;  }

#page-eventDetail #detail_comment {width:100%;display:inline-block; margin-top:100px;  }






/**
 * 	responsive
 */
@media (min-width: 480px) {
	#page-eventDetail #detail_meta > div {float:left; }
	#page-eventDetail #detail_meta .event-image {width:38%;}
	#page-eventDetail #detail_meta .event-info {width:58%;}
}



@media (min-width:992px){
	/**
	 * 	slider
	 */
	.ui-content  {width:992px; margin:0 auto; }

}
